$btnColor: #f5c70f;
$insertColor: #fff178;
$contentBckColor: #3b3b3b;
$borderImgColor: #fccd10;
$tableHeadColor: #94a34e;
$tableBodyColor: #677d01;
$hColor: #f5c70f;
$bckColor: rgba(198, 238, 252, 0.53);
$aColor: #fccd10;
$textColor: #fff;
$briefTextColor: #000;
$capTableColor: #000;
$tableHeadTextColor: $capTableColor;
$formColor: #f5c70f;