$bckColor: #dcbb9a;
$insertColor: #fadcba;
$contentBckColor: #ffffff;
$hColor: #893c00;
$black: #000000;
$btnColor: #3d70a1;
$tableHeadColor: #e0e0e0;
$tableHeadTextColor: #000;
$formColor: #808080;
$borderImgColor: $hColor;
$aColor: #3d70d1;
$textColor: $black;
$briefTextColor: $black;
$capTableColor: $black;
$formColor: $black;
$tableBodyColor: none;